* {
  font-family:  Georgia, Times, serif;
  color: white;
}

body {
  background-color: rgba(51, 59, 0, 0.839);
}

h1, h2, #recipe-list {
  text-align: center;
}

h1 {
  color: rgba(201, 222, 67, 0.839);
  -webkit-text-stroke: 2px black;
}

#title{
  font-size: 60px;

}

img {
  margin: auto;
  width: 450px;
  height: auto;
  padding: 12px;
  line-height: 0;
  background-color:  rgba(51, 59, 0, 0.839);
  border: 10px solid rgba(201, 222, 67, 0.839);
  border-radius: 999em;
  display: block;
  position: relative;
}

.image.recipe {
  height: auto;
  width: 700px;
  margin: auto;
  display: block;
}

a.link {
  text-decoration: none;
  color: white;
}
#recipe-list {
  list-style: inside;
  width: 400px;
  margin: auto;
}